@charset "UTF-8";

body {
background-color: #f0f0f0;
background-image: url(../images/water1.pdf-min2.jpg);
color: #000000;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
    
}

.aaa{
    font-size: 300px;
    font-family: 'Yu Gothic UI',sans-serif;
    font-weight: 900;
    font-style: italic;
    
    text-shadow: 2px 2px 0 #000,
                -2px 2px 0 #000,
                2px -2px 0 #000,
                -2px -2px 0 #000;
    text-shadow: 2px 2px 1px #000,
                -2px 2px 1px #000,
                2px -2px 1px #000,
                -2px -2px 1px #000;
}


.ore img{
    position: absolute;
    top: 10%;
    height: 2000px;
    width: 4000px;
    left: 10%;
    z-index: 20;
}

.rikuzo img{
    position: absolute;
    top: 25%;
    height: 2000px;
    width: 2000px;
    right: 5%;
    z-index: 10;
}

