@charset "UTF-8";

body {
background-color: #f0f0f0;
background-image: url(../images/water1.pdf-min2.jpg);
color: #000000;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
}


.ore img{
    position: absolute;
    top: 10%;
    height: 500px;
    width: 1000px;
    left: 10%;
    z-index: 20;
}

.rikuzo img{
    position: absolute;
    top: 25%;
    height: 500px;
    width: 600px;
    right: 5%;
    z-index: 10;
}

