@charset "utf-8";

.rikuzou img {
    position: absolute;
    bottom: 0%;
    left: 7%;
    height: 90%;
    width: 40%;
}
    
.yokuyatta {
    position: absolute;
    left: 25%;
    top: 10%;
}

.content {
    margin-top: 70%;
    position: relative;
    left: 37%;
}


h1{
    font-size: 120px;
    font-weight: bold;
    margin-top: 200px;
    font-family: "cursive";
    text-align: cent;
}

h2{
    padding: 6px;
    margin-bottom: 10px;
    border: 10px double ;
    width:300px;
    display: table-cell;
    text-align: center;

    
}

p.font1{
    font-family:"cursive";
}


body {
    min-width:5555px;
    background-color: #0099FF;
    background-image: url("waterdrops.png");
    color: white;
    text-align: center;
}

body{ background-image:url(images/syuuzou.gif)}


img#froatButton1{
    position: fixed;
    left: 0%;
    top: 0%;
    bottom: 0%;
}


img#froatButton2{
    position: fixed;
    right: 0%;
    top:0%;
    bottom:0%;
}   

#map {
    position: relative;
    margin:auto;
    margin-bottom: 5%;
}

