@charset "utf-8";

body {
    background-image: url("../images/salon.jpg");
    color: black;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*りくぞう写真*/
.rikuzou img {
    position: absolute;
    bottom: 0%;
    left: 9%;
    height: 700px;
    width: 600px;
    z-index: 20;
}

.declare1 {
    color: red;
    text-shadow: 5px 5px white;
    position: absolute;
    font-size:700%;
    right: 12%;
    top: 50%;
    font-weight: 900;
    z-index: 30;
    font-family : 'SimSun','sans-serif';

}

.declare2 {
    color: red;
    text-shadow: 5px 5px white;
    position: absolute;
    font-size:700%;
    right: 2%;
    top: 70%;
    font-weight: 900;
    z-index: 30;
    font-family : 'SimSun','sans-serif';
}

.man img {
    position: absolute;
    top: 110%;
    left: 29%;
    height: 150px;
    width: 150px;
}

/*指示書*/
.content {
    margin-top: 5%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 500%;
    font-family: 'MS UI Gothic',sans-serif;
    color: black;
    width: 50%;
    font-family : 'SimSun','sans-serif';
}

.woman img {
    position: absolute;
    top: 110%;
    right: 29%;
    height: 150px;
    width: 150px;
}

#wrap {
    background-color: white;
    /*border-radius: 1em;*/
    padding-bottom: 3%;
    z-index: 20;
    display: inline-block;
    text-align: center;
    width: 85%;
}
.barber {
    margin-top: 50%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    border-radius: 1em;
    opacity: 0.95;
    z-index: 10;
    background: repeating-linear-gradient(-34deg, white, white 20px, #0C40AE 20px, #0C40AE 45px, white 45px, white 65px, #F52E1F 65px, #F52E1F 90px);
    animation: move-stripe 300s infinite linear;
    font-family : 'SimSun','sans-serif';
}
@keyframes move-stripe {
    0% {  background-position-y: 0;  }
    100% {  background-position-y: -4000px;  }
}











h2 {
    font-style: oblique;
    font-family : 'SimSun','sans-serif';
}

h3 {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 900;
    margin-left: 5%;
    font-family : 'SimSun','sans-serif';
}

p {
    font-size: 150%;
    font-weight: 400;
    color: black;
    font-family : 'SimSun','sans-serif';
}

span {
    font-size: 130%;
    font-weight: 900;
    font-family : 'SimSun','sans-serif';
}

#recommendation {
    font-size: 190%;
    font-weight: 900;
    margin-top: 2%;
}

#thick {
    font-size: 100%;
    font-weight: 900;
}

.yajirushi img {
    position: relative;
    margin-top: -17%;
    height: 500px;
    width: 600px;
}






.scissors img {
    position: absolute;
    top: 298%;
    left: 21%;
    height: 50px;
    width: 50px;
}

.pic1 img {
    left: 0%;
    height: 250px;
    width: 200px;
    display: inline;
}

.map1 img {
    position: absolute;
    top: 308%;
    display: inline;
    right: 23%;
    margin-top: 2%;
    width: 300px;
    height: 250px;
}

.block {
    display: block;
    text-align: left;
    margin-left: 3%;
    margin-top: 25%;
}

.explanation {
    float: right;
    margin-right: 8%;
}






.comb img {
    position: absolute;
    top: 384%;
    left: 21%;
    height: 50px;
    width: 50px;
}

.pic2 img {
    left: 0%;
    height: 250px;
    width: 200px;
    display: inline;
}

.map2 img {
    position: absolute;
    top: 393%;
    display: inline;
    right: 23%;
    margin-top: 2%;
    width: 300px;
    height: 250px;
}

.candymap img{
    left: 0%;
    height: 300px;
    width: 390px;
}

#money {
    margin-top: 25%;
    margin-bottom: 20%;
}




.drier img {
    position: absolute;
    top: 518%;
    left: 21%;
    height: 50px;
    width: 50px;
}

#price1 {
    margin-top: 15%;
    margin-left: 10%;
}

.map3 img{
    float: right;
    margin-right: 5%;
    margin-top: -20%;
    height: 300px;
    width: 390px;
}







.chair img {
    position: absolute;
    top: 586%;
    left: 21%;
    height: 50px;
    width: 50px;
}

.map4 img{
    float: right;
    margin-right: 5%;
    margin-top: -20%;
    height: 300px;
    width: 390px;
}

#price2 {
    margin-top: 15%;
    margin-left: 3%;
}




#letsgo {
    margin-top: 30%;
    font-size: 400%;
}

.ittekoibtn {
    text-align: center;
    margin-top: 5%;
    font-size: 150%;
    font-family : 'SimSun','sans-serif';
}

.btn { 
    font-size: 150%;
    font-style: underline;
    color: black;
    font-family : 'SimSun','sans-serif';
}
