@charset "utf-8";

@font-face {
font-family: "GenEi";
src: url('font/0718GenEi.eot');
src: url('font/0718GenEi.woff') format('woff');
}

@font-face {
font-family: "Chikara";
src: url('font/0718Chikara.eot');
src: url('font/0718Chikara.woff') format('woff')
}


body {
    background-color: #0099FF;
    background-image: url("waterdrops.png");
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
}


/*りくぞう写真*/
.rikuzou img {
    position: absolute;
    bottom: 0%;
    left: 30%;
    height: 550px;
    width: 550px;
    z-index: 20;
}
    
/*よくやったテキスト*/
.yokuyatta {
    position: absolute;
    font-size:550%;
    left: 20%;
    top: 0%;
    font-weight: 900;
    z-index: 10;
    font-family: 'Chikara';
}

/*指示書*/
.content {
    margin-top: 70%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 500%;
    font-family: 'GenEi';
}

/*指示書に囲いを付けるとき。中の文字の位置を決める*/
.content p{
    margin: 0; 
    padding: 0;
}

#wrap{
    clear:both;
    width:40%; height:200px;
    margin:100px; padding:30px; border:5px solid black;
    background-color:lightgray;
    margin: 0 auto;
}

#beginner{
    clear:both;
    width:40%; height:500px;
    margin:500px; padding:30px; border:5px solid black;
    background-color:lightgray;
    margin: 0 auto;
}


img#froatButton1{
    position: fixed;
    left: 0%;
    top: 0%;
    bottom: 0%;
}


img#froatButton2{
    position: fixed;
    right: 0%;
    top:0%;
    bottom:0%;
}   

#map {
    position: relative;
    left: 33%;
    margin-bottom: 5%;
}

