@charset "utf-8";

@font-face {
font-family: "GenEi";
src: url('font/0718GenEi.eot');
src: url('font/0718GenEi.woff') format('woff');
}

@font-face {
font-family: "Chikara";
src: url('font/0719Chikara.eot');
src: url('font/0719Chikara.woff') format('woff')
}

body {
    background-image: url("../images/salon.jpg");
    color: black;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*りくぞう写真*/
.rikuzou img {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 550px;
    width: 550px;
    z-index: 20;
}

.declare1 {
    color: #0C40AE;
    text-shadow: 5px 5px white;
    position: absolute;
    font-size:700%;
    right: 10%;
    top: 50%;
    font-weight: 900;
    z-index: 10;
    font-family: 'Chikara';
}

.declare2 {
    color: #0C40AE;
    text-shadow: 5px 5px white;
    position: absolute;
    font-size:700%;
    right: 0%;
    top: 70%;
    font-weight: 900;
    z-index: 30;
    font-family: 'Chikara';
}

.man img {
    position: absolute;
    top: 128%;
    left: 29%;
    height: 150px;
    width: 150px;
}

/*指示書*/
.content {
    margin-top: 5%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 500%;
    font-family: 'MS UI Gothic',sans-serif;
    color: black;
    width: 50%;
}

.woman img {
    position: absolute;
    top: 128%;
    right: 29%;
    height: 150px;
    width: 150px;
}

#wrap {
    background-color: white;
    /*border-radius: 1em;*/
    padding-bottom: 3%;
    z-index: 20;
    display: inline-block;
    text-align: center;
    width: 85%;
}

.barber {
    margin-top: 55%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    border-radius: 1em;
    opacity: 0.95;
    z-index: 10;
    background: repeating-linear-gradient(-34deg, white, white 20px, #0C40AE 20px, #0C40AE 45px, white 45px, white 65px, #F52E1F 65px, #F52E1F 90px);
    animation: move-stripe 300s infinite linear;
}

@keyframes move-stripe {
    0% {  background-position-y: 0;  }
    100% {  background-position-y: -4000px;  }
}


h2 {
    font-style: oblique;
}



h3 {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 5%;
    font-weight: 900;
}

p {
    font-size: 150%;
    font-weight: 400;
    color: black;
}

span {
    font-size: 130%;
    font-weight: 900;
}

#recommendation {
    font-size: 190%;
}

#thick {
    font-size: 100%;
    font-weight: 900;
}

.scissors img {
    position: absolute;
    top: 300%;
    left: 20%;
    height: 50px;
    width: 50px;
}

.comb img {
    position: absolute;
    top: 310%;
    left: 20%;
    height: 50px;
    width: 50px;
}

.drier img {
    position: absolute;
    top: 320%;
    left: 20%;
    height: 50px;
    width: 50px;
}

.chair img {
    position: absolute;
    top: 330%;
    left: 20%;
    height: 50px;
    width: 50px;
}


#map {
    position: relative;
    left: 26%;
    margin-bottom: 5%;
    margin-top: 2%;
}
