@charset "utf-8";

h1 {
    transform: rotate(-10deg);
    font-size: 550%;
    font-weight: bold;
    margin-top: 17%;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px transparent, 5px 5px white;
    /*padding: 0.2em;*/
    /*background: linear-gradient(transparent 10%, #fff100 70%);*/
}

h2 {
    transform: rotate(-10deg);
    font-size: 200%;
    margin-top: -5%;
    margin-left: 60%;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
    color: white;
    background-image: url(../images/watersplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.countdown {
    font-size: 1000%;
    text-align: right;
    position: absolute;
    bottom: 0%;
    right: 7%;
}

.yesbtn {
    position: relative;
    margin-top: 10%;
}

.btn-primary {
    background: transparent;
    color: white;
    border-color: white;
    display: block;
    margin-top: 1%;
    width: 40%;
    height: 100%;
    margin-left: 30%;
    position: relative;
    border-width: 5px;
    font-weight: bold;
    font-size: 350%;
}

.btn-primary:hover {
    background-color: transparent;
    border-color: white;
    border-width: 5px;
    font-weight: bold;
    border-radius:50px;
    background-color: rgba(255, 255, 255, .2);
}

.btn-primary:active {
    background-color: transparent;
    border-color: white;
    border-width: 5px;
    font-weight: bold;
    border-radius:50px;
}


.btn-primary:focus {
    background-color: transparent;
    border-color: white;
    border-width: 5px;
    font-weight: bold;
    border-radius:50px;
}

.btn-default {
    background: transparent;
    color: white;
    border-color: white;
    display: block;
    margin-top: 1%;
    width: 30%;
    margin-left: 35%;
    position: relative;
    border-width: 5px;
    font-weight: bold;
    font-size: 150%;
}

.btn-default:hover {
    color: white;
    background-color: transparent;
    border-color: white;
    border-width: 5px;
    font-weight: bold;
    font-size: 150%;
}

.btn-default:focus {
    color: white;
    background-color: transparent;
    border-color: white;
    border-width: 5px;
    font-weight: bold;
    font-size: 150%;
}

.show{
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}






a.animated-button.thar-three {
    background: transparent;
    color: white;
    border-color: white;
    display: block;
    margin-top: 1%;
    width: 40%;
    height: 100%;
    margin-left: 30%;
    position: relative;
    border-width: 5px;
    font-weight: bold;
    font-size: 350%;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-three:hover {
    color: black;
    background-color: transparent;
    border-color: black;
}
a.animated-button.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
a.animated-button.thar-three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: white;
    background: yellow;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
