@charset "utf-8";

h1 {
    transform: rotate(-10deg);
    font-size: 550%;
    font-weight: bold;
    margin-top: 17%;
    text-align: center;
    color: white;
    text-shadow: 5px 5px gray;
}



body {
    width: 100%;
    height: 100%;
    color: white;
    background-image: url(../images/s_watersplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.countdown {
    font-size: 1000%;
    text-align: right;
    position: absolute;
    bottom: 0%;
    right: 7%;
}

.yesbtn {
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 80px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 5px solid white;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 30%;
    height: 80%;
    width: 40%;
    font-size: 350%;
    font-weight: bold;
    
}
.yesbtn:hover {
    color: gray;
}

.yesbtn::after {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.5);
    transition: all .3s;
}
.yesbtn:hover::after {
    background: white;
    transform: scale(1);
}

.nobtn {
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 5px solid white;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 1%;
    margin-left: 35%;
    height: 80%;
    width: 30%;
    font-size: 150%;
    font-weight: bold;
    
}
.nobtn:hover {
    color: gray;
}

.nobtn::after {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.5);
    transition: all .3s;
}
.nobtn:hover::after {
    background: white;
    transform: scale(1);
}

@media only screen and (max-width: 750px) {
    body::before{
    background: url("/images/s_watersplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-color:black;
}

h1 {
    transform: rotate(-10deg);
    font-size: 230%;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
    color: white;
    text-shadow: 5px 5px gray;
}

.yesbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 5px solid white;
    color: white;
    overflow: hidden;
    height: 10%;
    width: 40%;
    margin-left:6%;
    font-size: 180%;
    font-weight: bold;
    
}
.yesbtn:hover {
    color: gray;
}

.yesbtn::after {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.5);
    transition: all .3s;
}
.yesbtn:hover::after {
    background: white;
    transform: scale(1);
}

.nobtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 5px solid white;
    color: white;
    overflow: hidden;
    border-radius: 20px;
    margin-right:28%;
    height: 50%;
    width: 30%;
    font-size: 70%;
    font-weight: bold;
    
}
.nobtn:hover {
    color: gray;
}

.nobtn::after {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.5);
    transition: all .3s;
}
.nobtn:hover::after {
    background: white;
    transform: scale(1);
}

}