@charset "utf-8";

.rikuzou img {
    height: 200px;
    width: 200px;
    margin-left: 100px;
    margin-top:10px;
    margin-bottom:20px;
}

h1{
    font-size: 100px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center; 
    flex-flow: column;

}

h1.example{font-family: "SimSun"
}