@charset "utf-8";

.rikuzou img {
    height: 200px;
    width: 200px;
    margin-left: 450px;
    margin-top:150px;
}
    


h1{
    font-size: 100px;
    font-weight: bold;
    margin-top: 200px;

}

h1.example{
    font-family: "SimSun"
}

body {
background-color: #f0f0f0;
background-image: url(../images/ocean.jpg);
color: #000000;
}

.welcome {
    animation: fadeIn 10s ease 0s 7 normal;
    -webkit-animation: fadeIn 10s ease 0s 7 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

